<!-- Contact -->
<article id="about" class="panel project">
    <header>
        <h2>About</h2>
    </header>
    <section>
        <p>I am Russian expat. I came to New Zealand in 2011.</p>
    </section>
    <footer>
        <nav>
            <a href="{{ site.pdf_location }}" class="icon fa-file-pdf-o" title="Curriculum vitae"></a>
            <a class="bullet"></a>
            <a href="mailto:{{ site.email }}" class="icon fa-envelope"></a>
            <a href="https://keybase.io/{{ site.keybase_username  }}" class="icon fa-key"     title="Keybase"></a>
            <a href="https://github.com/{{ site.github_username   }}" class="icon fa-github"  title="Github"></a>
            <a href="https://twitter.com/{{ site.twitter_username }}" class="icon fa-twitter" title="Twitter"></a>
            <a href="https://medium.com/@{{ site.medium_username  }}" class="icon fa-medium"  title="Medium"></a>
            <a href="{{ site.linkedin_link }}" class="icon fa-linkedin" title="Linkedin"></a>
        </nav>
    </footer>
</article>
