<div class="footer">
  <span id="footer-links">
    	<a href="" class="footer-link">About</a> <span class="separator">&bull;</span><span class="separator">&bull;</span>

    {% if site.github_username %}
    	<a href="https://github.com/{{ site.github_username }}" class="footer-link">GitHub </a>
    	<span class="separator">&bull;</span><span class="separator">&bull;</span>
    {% endif %}

    {% if site.deviantart_username %}
    	<a href="https://{{ site.deviantart_username }}.deviantart.com" class="footer-link">Deviantart</a>
    {% endif %}
  </span>
</div>