<div class="sidebar" id="sidebar">
  <div class="header">
    <h1 class="title"><a href="/"><img id="logo" src="/images/logo.png"></a></h1>
    <span class="tagline">{{ site.title }}</span>
  </div>
  <div class="posts">
    <ul class="posts-list">
      {% for post in site.posts %}
        <li class="post-link">
          <a class="post-title" href="{{ post.url }}">
            <span class="post-date">{{ post.date | date_to_string }} : {{ post.title | upcase }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% include footer.html %}
</div>